doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title #{title}
        link(rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAgICAgICAgIC5kYXJrIHsgc3Ryb2tlOiBibGFjazsgZmlsbDogbm9uZTsgfQogICAgICAgICAgICA8L3N0eWxlPgogICAgICAgICAgICA8cGF0aCBjbGFzcz0iZGFyayIgZD0iTTMsMiBMMTMsMiBRMTQsMiAxNCwzIEwxNCwxMyBRMTQsMTQgMTMsMTQgTDMsMTQgUTIsMTQgMiwxMyBMMiwzIFEyLDIgMywyIi8+CiAgICAgICAgICAgIDwhLS0KICAgICAgICAgICAgPHBhdGggY2xhc3M9ImNvb2wiIGQ9Ik05LDIgTDEyLDIgUTEzLDIgMTMsMyBMMTMsMTMgUTEzLDE0IDEyLDE0IEw5LDE0IFE4LDE0IDgsMTMgTDgsMyBROCwyIDksMiIvPgogICAgICAgICAgICAtLT4KICAgICAgICA8L3N2Zz4=")
        block static
    body
        include includes/header.pug
        main
            block content
        include includes/footer.pug        
