doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title #{title}
        link(rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAgICAgICAgIC5kYXJrIHsgc3Ryb2tlOiBibGFjazsgZmlsbDogbm9uZTsgfQogICAgICAgICAgICA8L3N0eWxlPgogICAgICAgICAgICA8cGF0aCBjbGFzcz0iZGFyayIgZD0iTTMsMiBMMTMsMiBRMTQsMiAxNCwzIEwxNCwxMyBRMTQsMTQgMTMsMTQgTDMsMTQgUTIsMTQgMiwxMyBMMiwzIFEyLDIgMywyIi8+CiAgICAgICAgICAgIDxwYXRoIGNsYXNzPSJkYXJrIiBkPSJNNiw1IEwxMCw1IFExMSw1IDExLDYgTDExLDEwIFExMSwxMSAxMCwxMSBMNiwxMSBRNSwxMSA1LDEwIEw1LDYgUTUsNSA2LDUiLz4KICAgICAgICAgICAgPCEtLQogICAgICAgICAgICA8cGF0aCBjbGFzcz0iZGFyayIgZD0iTTUsNCBMMTEsNCBRMTIsNCAxMiw1IEwxMiwxMSBRMTIsMTIgMTEsMTIgTDUsMTIgUTQsMTIgNCwxMSBMNCw1IFE0LDQgNSw0Ii8+CiAgICAgICAgICAgIC0tPgogICAgICAgIDwvc3ZnPg==")
        block static
    body.container--flex.container--flex--column
        include includes/header.pug
        main
            block content
        include includes/footer.pug
