/* Basic settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */

:root {
    --background: white;
    --foreground: black;
    --near: #444;
    --far: #aaa;
    --shadow-inner: #777;
    --shadow-outer: #777;
    --warning: maroon;
}

/* Colour theming */

.theme--dark {
    --background: black;
    --foreground: white;
    --shadow-inner: white;
    --shadow-outer: black;
    --warning: orangered;
}

@media screen and (prefers-color-scheme: dark) {

    :root {
        --background: black;
        --foreground: white;
        --shadow-inner: white;
        --shadow-outer: black;
        --warning: orangered;
    }
}

/* Container classes */

.container--flex {
    display: flex;
}

.container--flex--column {
    flex-direction: column;
}

/* Content classes */

.text--center {
    text-align: center;
}

.text--warning {
    color: var(--warning);
}

/* Minor elements */

a {
    color: var(--primary);
    text-decoration: none;
}

label {
    display: block;
    text-align: left;
}

input,
button {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--far);
    border-radius: 3px;
}

input {
    border-top-color: var(--near);
    border-left-color: var(--near);
    box-shadow: inset 1px 1px 2px var(--shadow-inner);
}

button {
    background-color: inherit;
    color: inherit;
    border-right-color: var(--near);
    border-bottom-color: var(--near);
    box-shadow: 1px 1px 2px var(--shadow-outer);
}

button:active {
    border-top-color: var(--near);
    border-left-color: var(--near);
    border-right-color: var(--far);
    border-bottom-color: var(--far);
    box-shadow: inset 1px 1px 2px var(--shadow-inner);
}

/* Major elements */

/* - body */

body {
    min-height: 100vh;
    background-color: var(--background);
    font-family: sans-serif;
    color: var(--foreground);
}

/* - header */

header {
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
}

header h1 a {
    color: var(--foreground);
}

/* - main */

main {
    flex: 1;
}

main > p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* - footer */

footer {
    flex: 0;
    padding: 1.5rem;
}

footer p a {
    color: var(--foreground);
}

/* - forms */

form {
    padding: 2rem;
}

form > p:first-child {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
}

form label,
form input,
form button {
    width: 100%;
}

form label {
    margin: 0.5rem 0;
}

form input,
form button,
form p {
    margin: 0.25rem 0;
}

form p {
    padding: 0.25rem;
    white-space: pre-line;
}

/* Media queries */

@media screen and (min-width: 400px) {

    main {
        width: 400px;
        margin: 0 auto;
    }
}
